@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Global Body Style
  Prevents a white flash before the dark mode App loads
*/
body {
  background-color: #1c1c1d;
  margin: 0;
  padding: 0;
}

/* Hide the receipt on the normal screen */
.hidden-on-screen {
  display: none;
}

/* When printing, hide the app and show only the receipt formatted for 80mm paper */
@media print {
  body * {
    visibility: hidden;
  }
  
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }
  
  #printable-receipt {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm; /* Adjust to 58mm if you use a smaller mini-printer */
    margin: 0;
    padding: 0;
    background-color: white; /* Forces the receipt to print on a white background */
    color: black;
  }
}